*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/local-backups/
/device-validation/
/.idea/
/FEATURE-VALIDATION.md
/UI-VALIDATION.md
/publish-local/
*.jks
*.keystore
keystore.properties
